{
  "clientId": "insert client id here",
  "clientSecret": "insert client secret here",
  "allowedUsers": ["list of allowed users"],
  "botName": "bot's name",
  "channel": "bot's channel",
  "prefix": "$",
  "gameMap": {
    "sot": "Sea of Thieves",
    "csgo": "Counter-Strike: Global Offensive",
    "pubg": "PLAYERUNKNOWN'S BATTLEGROUNDS",
    "rl": "Rocket League",
    "lol": "League of Legends",
    "chat": "Just Chatting",
    "eft": "Escape From Tarkov",
    "tarkov": "Escape From Tarkov",
    "mc": "Minecraft",
    "siege": "Tom Clancy's Rainbow Six Siege",
    "r6": "Tom Clancy's Rainbow Six Siege",
    "halo": "Halo: The Master Chief Collection",
    "skribbl": "skribbl.io",
    "bo": "Call of Duty: Black Ops Cold War",
    "warzone": "Call of Duty: Warzone",
    "code": "Science & Technology",
    "apex": "Apex Legends"
  },
  "permitW": {
    "broadcaster": true,
    "mod": true,
    "vip": true,
    "sub": false
  }
}
